<div class="container">
	<div class="jumbotron">
		<h1> Calorie Mate</h1>
		<p> Track what you eat</p>
	</div>
</div>

<div class="container">
	<a href=/foods class="btn btn-primary" role="button">Menu</a>
	<a href="#" class="btn btn-primary" role="button">New Day</a>
</div>
